body {
	margin: 0;
	padding: 0;
}
.toolbar {
	color: white;
}
.content {
	padding-top: 100px;
}
.fa-question-circle {
	margin-top: 30%;
	font-size: 30px;
}
.box {
	color: white;
	margin-left: 12px;
	border-radius: 3px;
	margin-right: 12px;
	margin-bottom: 20px;
	background: #212121;
	border: 1px solid #000;
	box-shadow: 0 0 8px #424242;
}
.item-title {
	margin: 8px;
	color: rgb(253,173,13);
	font-size: 18px;
	font-weight: bold;
	font-family: "yekan";
	
}
.top-item {
	border-top: 0.1px solid #000;
}
.item {
	border: none; 
	display: flex;
	outline: none;
	font-size: 18px;
	cursor: pointer; 
	overflow: hidden;
	padding: 6px 12px;
	position: relative;
	border-radius: 3px;
	padding-right: 20px;
	font-family: iransans;
	border-top: 0.1px solid #000;
}
.right {
	float: right;
	font-weight: bold;
}
.left {
	float: left;
	color: #888;
	margin-right: auto;
	
}
.item span {
	opacity: 0;
	width: 100px;
	height: 100px;
	margin-top: -50px;
	margin-left: -50px;
	border-radius: 50%;
	position: absolute;
	animation: ripple 1s;
	background: rgba(0, 0, 0, 100);
}
@keyframes ripple {
	from {
		opacity: 1;
		transform: scale(0);
	}

	to {
		opacity: 0;
		transform: scale(20);
	}
}