body {
  background-color: #212121ee;
}
#firstView {
  color: white;
}
.text2 {
  text-decoration-color: #756be5;
}
.icon {
  border: 1px solid #fff;
}
.title {
  color: white;
}
.fa-info,
.fa-bolt,
.code {
  transform: translate(50%, -65%);
  color: white;
}
.icon-arrow {
  color: white;
}
.data {
  color: white;
}
a {
  color: #756be5;
}
.column {
  border: 1px solid #fff;
  color: white;
}
.column:hover {
  background-color: #eeeeeeee;
  border: 1.3px solid #bbb;
  color: black;
}
.card {
  color: #f5f5f5;
  box-shadow: 4px 4px 7px #212121ee, -4px -4px 7px #424242ff;
  border: 0.5px dashed #000;
}
.card-one {
  background: #282828;
  color: #756be5;
}
.card-two {
  background: #212121;
  color: #756be5;
}
.card-three {
  background: #282828;
  color: #756be5;
}
.buy-one,
.buy-three {
  color: white;
  border: 1.5px solid #574ae2;
  background-color: transparent;
}
.buy-two {
  color: white;
  border: none;
  background: #574ae2;
}
.buy-one:hover,
.buy-three:hover {
  width: 90%;
  font-size: 14px;
  background: #574ae2;
}
.buy-two:hover {
  width: 90%;
  font-size: 14px;
}
.options,
.titre {
  color: white;
}
.logo {
  border: 1px solid #000;
  background-color: #fff;
}
.btn-menu {
  background: #303030;
  box-shadow: 4px 4px 7px #000, -4px -4px 7px #333;
  border: 0.5px solid white;
  color: white;
}
.btn-menu:hover {
  background: #f5f5f5;
  color: #212121;
  box-shadow: 0 0 8px #212121;
}
.items {
  background: linear-gradient(to left, #000, #212121);
}
.toolbar {
  background-color: #343a40;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border: 0.2px solid #424242;
  color: white;
}
.toolbar-text {
  color: white;
}
