ol.gradient-list > li::before,
ol.gradient-list > li {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05),
    0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  color: #1d1f20;
}
.content {
  margin-top: 64px;
}
main {
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  max-width: 40rem;
  padding: 1rem;
}
a {
  color: #212121;
  text-decoration: underline;
}
ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 0;
}
ol.gradient-list > li {
  background: white;
  border-radius: 0.5rem 0.5rem 0 0;
  counter-increment: gradient-counter;
  margin-top: 1rem;
  min-height: 3rem;
  padding: 2rem 1rem 1rem 2rem;
  position: relative;
}
ol.gradient-list > li::before,
ol.gradient-list > li::after {
  border-radius: 5rem 5rem 5rem 5rem;
  content: "";
  height: 3rem;
  left: -1rem;
  overflow: hidden;
  position: absolute;
  top: -1rem;
  width: 3rem;
}
ol.gradient-list > li::before {
  content: counter(gradient-counter);
  color: white;
  display: flex;
  font: 900 1.5em/1 "vazir";
  margin-left: 50%;
  justify-content: center;
  align-items: center;
  padding: 0.125em 0.25em;
  z-index: 1;
}
ol.gradient-list > li:nth-child(n):before {
  background: linear-gradient(to bottom, #601ae2 10%, #6b39d7ee 100%);
  color: white;
}
ol.gradient-list > li + li {
  margin-top: 2rem;
}
.list-item-title,
.list-item-description {
  font-family: "lvazir";
}
.list-item-description {
  font-family: "lvazir";
  font-size: 12.5px;
}
.titr {
  font-family: "lvazir";
}
.data {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  font-family: "lvazir";
  background: white;
  color: #212121;
  text-align: center;
  padding: 8px;
  border-radius: 0.5rem;
  margin-bottom: 10px;
}
.release-time {
  text-align: left !important;
  border: 0.7px solid gold;
  border-radius: 50px;
  width: fit-content;
  margin-right: auto;
  padding: 4px;
  color: gold;
}

.back,
.next {
  border: 0.7px solid gold;
  font-family: "lvazir";
  font-weight: bold;
  margin-top: 10px;
  padding: 5px;
}
.back:hover {
  background: gold;
  color: black;
}
.back {
  color: gold;
  background: transparent;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.next {
  color: black;
  background: gold;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
pre {
  text-align: left !important;
  border-radius: 3px;
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05),
    0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
  animation-name: fadeInUp;
  animation-duration: 500ms;
}
code {
  font-family: "ubuntu";
}
.quiz {
  border: 0.7px solid #ff2942;
  font-family: "lvazir";
  border-radius: 100px;
  width: fit-content;
  font-weight: bold;
  margin-left: 5px;
  display: inline;
  color: #ff2942;
  padding: 5px;
}
.answer {
  border: 0.7px solid #7fff29;
  font-family: "lvazir";
  border-radius: 100px;
  width: fit-content;
  font-weight: bold;
  margin-left: 5px;
  display: inline;
  color: #7fff29;
  padding: 5px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@font-face {
  font-family: "lvazir";
  src: url("../assets/vazir.ttf");
}
