@import "./global.css";

* {
  direction: rtl;
}

body {
  background-color: #fafafa;
  color: #1d1f20;
}
a:link,
a:visited {
  color: #212121;
  text-decoration: underline;
}
ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 0;
}
ol.gradient-list > li {
  background: white;
  counter-increment: gradient-counter;
  min-height: 4rem;
  padding: 2rem 1rem;
  position: relative;
}
ol.gradient-list > li::before {
  content: "";
  border-radius: 100%;
  height: 4.5rem;
  width: 4.5rem;

  left: -2rem;

  position: absolute;
  top: -2.25rem;
}
ol.gradient-list > li::before {
  content: counter(gradient-counter);
  color: white;
  display: flex;
  font: 900 1.5em/1 "vazir";
  margin-left: 50%;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
ol.gradient-list > li:nth-child(n):before {
  background: linear-gradient(to bottom, #601ae2 10%, #6b39d7ee 100%);
  color: white;
}
ol.gradient-list > li + li {
  margin-top: 4rem;
}
pre {
  text-align: left !important;
  border-radius: 10px;

  box-shadow: 0px 8px 10px rgb(0 0 0 / 20%);

  margin: 1rem 0;
  padding: 10px;

  position: relative;
}
code {
  font-family: "ubuntu";
  border-radius: 5px;
  direction: ltr;
}
.quiz {
  width: 25px;
  height: 25px;
  background-color: var(--bs-danger);
  border-radius: 100%;
  position: relative;
  float: right;
  margin-left: 10px;
}
.quiz::after {
  content: "?";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.answer {
  width: 25px;
  height: 25px;
  background-color: var(--bs-success);
  border-radius: 100%;
  position: relative;
  float: right;
  margin-left: 10px;
}
.answer::after {
  content: "*";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -40%);
}

/* --------------------------------------------- */

.card:not(.gradient-list-item) > a {
  text-decoration: none;
}

.card-title > a:hover {
  color: #601ae2;
}

.card-body > .card-text {
  direction: rtl;
  font-family: vazir;
  font-weight: bold;
}

main {
  padding: 2rem 0;
}

main,
section,
.document {
  position: relative;
}

main,
main * {
  overflow: visible !important;
}

.card,
.card::before {
  border: none !important;
  box-shadow: 0px 8px 20px 4px rgb(0 0 0 / 20%);
}

.gradient-list-item .card-text * {
  font-family: vazir;
  font-weight: bold;
}

.gradient-list-item .card-body pre {
  display: none;
}

.document {
  box-shadow: 0px 8px 20px 4px rgb(0 0 0 / 20%);
  border-radius: 10px;
}

article:not(pre, pre *) {
  min-height: 100vh;
  font-family: lvazir;
  font-weight: bold;
  padding: 1rem 0;
  padding-bottom: 3rem;
}

.arrow {
  width: 50px;
  height: 50px;
  background-color: #ffffff98;
}

@media only screen and (min-width: 788px) {
  .arrow {
    box-shadow: 0px 1px 13px 7px rgb(0 0 0 / 20%);

    position: absolute;
    bottom: 5%;
  }

  .fa-arrow-right {
    right: 0;
    transform: translateX(50%);
  }

  .fa-arrow-left {
    left: 0;
    transform: translateX(-50%);
  }
}

@media only screen and (min-width: 0) and (max-width: 787px) {
  .arrow {
    position: absolute;
    bottom: 0;
  }

  .fa-arrow-right {
    right: 0;
  }

  .fa-arrow-left {
    left: 0;
  }
}

.arrow::before {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  color: var(--bs-gray-900);
}

#error {
  width: 100vw;
  height: 100vh;
}

.copy {
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;

  opacity: 0;
}

pre:hover .copy {
  opacity: 1;
}

.utils {
  position: relative;
  right: 50%;
  transform: translateX(50%);
}
