@import "./global.css";

*{
  direction: rtl;
}

main {
  min-height: 50vh;

  padding: 1rem 0;
  margin: 1rem 0;
  border-radius: 10px;

  background-color: var(--bs-light);

  --bs-nav-link-color: #574ae2;
  --bs-link-color: var(--bs-nav-link-color);

  --bs-nav-link-hover-color: #2f24aa;
  --bs-link-hover-color: var(--bs-nav-link-hover-color);
}

.nav-tabs {
  --bs-nav-link-color: teal;
  --bs-nav-tabs-link-active-color: #045555;
  --bs-nav-link-hover-color: var(--bs-nav-tabs-link-active-color);
  --bs-nav-tabs-link-active-border-color: var(--bs-nav-tabs-link-active-color);
  --bs-nav-tabs-link-border-color: var(--bs-nav-link-color);
  --bs-nav-tabs-link-active-bg: #ffffff56;
  --bs-nav-tabs-border-color: #4daaaaa2;
  --bs-nav-tabs-link-hover-border-color: #4daaaa31;
}

ul {
  min-height: 20vh;
  position: relative;
  margin-bottom: 2rem !important;
}

li {
  position: absolute;
  width: 100%;
  min-height: 100%;
  padding: 1rem;
}

li > a {
  text-decoration: none;
}

li .product-name {
  float: right;
}

li .developer {
  float: left;
  font-weight: bold;
}

.fa-cloud::before {
  font-size: 8rem;
  color: var(--bs-nav-link-hover-color);
}

.empty {
  height: 2rem;
  position: absolute;
  top: 60%;
  color: #fff;
  font-size: 0.8rem;
}

.q {
  position: relative;
  padding-right: 30px;
}

.q::after {
  content: "?";
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: white;
  background-color: var(--bs-danger);
  position: absolute;
  top: 60%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.how-to {
  border: none;
  background-color: transparent;
  font-size: .8rem;
}

.how-to[aria-expanded = true]{
  transform: rotateZ(180deg);
}

p,
code {
  font-family: ubuntu, lvazir;
  font-weight: bold;
}

code {
  color: var(--bs-code-color) !important;
}

p a {
  color: #1b0773;
  font-size: 15px;
  user-select: none;
  /* text-decoration: underline 1.8px #574AE2; use this effect instead */
  text-decoration: underline 1.9px currentColor;
  background-image: linear-gradient(
    0deg,
    #fcbf17,
    #fcbf17 4px,
    transparent 0,
    transparent
  );
  cursor: pointer;
}

p a:hover {
  transition: 0.3s ease-in-out;
  color: #1b0773;
  font-weight: 700;
  background-image: linear-gradient(
    0deg,
    #fcbf17,
    #fcbf17 10px,
    transparent 0,
    transparent
  );
}

@media only screen and (max-width: 375px) {
  nav {
    flex-direction: column;
  }

  h5 {
    font-size: 1rem;
  }
}
