@font-face {
  font-family: "vazir";
  src: url("../assets/vazir.ttf");
}
@font-face {
  font-family: "vazirb";
  src: url("../assets/vazir_black.ttf");
}
@font-face {
  font-family: "ubuntu";
  src: url("../assets/ubuntu.ttf");
}

* {
  font-family: ubuntu, vazirb;
}
