@import "./fonts.css";

*,
*::after,
*::before {
  /* reset elements */

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.5s linear;
}
html {
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  width: 7px;
}

html::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-bg);
  background-size: 10px 10px;
}

html::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--scrollbar-thumb-bg);
}

html::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-bg);
}

html::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbar-thumb-active-bg);
}

#footer,
#header {
  width: calc(100vw - 7px);
  height: 80px;
}

#header {
  height: 100vh;
}