@import "./fonts.css";
:root {
  /*add variables  */
  --main-color: #1b0773;
}
*,
*::after,
*::before {
  /* reset elements */

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
* {
  transition: 0.15ms ease-in-out;
}
html {
  overflow-y: scroll;
}
#firstView {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.firstViewChild {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  position: absolute;
}
h2 {
  font-size: 30px;
  user-select: none;
}
a.special {
  color: var(--main-color);
  font-size: 15px;
  user-select: none;
  /* text-decoration: underline 1.8px #574AE2; use this effect instead */
  text-decoration: underline 1.9px currentColor;
  background-image: linear-gradient(
    0deg,
    #fcbf17,
    #fcbf17 4px,
    transparent 0,
    transparent
  );
  cursor: pointer;
}
a.special:hover {
  transition: 0.3s ease-in-out;
  font-weight: 700;
  background-image: linear-gradient(
    0deg,
    #fcbf17,
    #fcbf17 10px,
    transparent 0,
    transparent
  );
}
.bot {
  margin: 10px; /*50px is a lot 😐*/
  position: absolute;
  width: 20vw;
  bottom: 0;
  right: 0;
}
.part {
  margin: 10px;
  margin-bottom: 20px;
  padding: 8px;
  width: 90%;
  text-align: right;
  font-family: "vazir";
}
.icon {
  padding: 20px;
  width: 10px;
  height: 10px;
  font-size: 2rem;
  float: right;
}
.title {
  margin-top: auto;
  margin-bottom: auto;
}
.fa-info,
.fa-bolt,
.code {
  transform: translate(50%, -65%);
}
.fa-fire,
.fa-shopping-bag,
.fa-gift {
  font-size: 25px;
}
.fa-arrow-left {
  color: gray !important;
  text-decoration: none;
  float: left;
  width: 20px;
}
main .container {
  width: 95%;
  margin-top: 30px;
  padding-right: 45px;
  font-family: vazir;
}
main .row > * {
  height: 30px;
  border-radius: 5px;
  margin: 5px;
  margin-bottom: 3px;
  text-align: center;
  background-color: var(--bs-success);
  position: relative;
}
main .row > *:hover {
  background-color: rgba(var(--bs-success-rgb), 0.8);
}
main .row > * > a {
  position: absolute;
  right: 0;
  width: 100%;
  color: var(--bs-light);
  font-size: 0.8rem;
  text-decoration: none;
  font-family: vazir;
}
#footer,
#header {
  width: 99vw;
  height: 80px;
}

#header {
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 3;
}
