@import "./global.css";

.part {
  margin: 10px;
  margin-bottom: 20px;
  padding: 8px;
  width: 90%;
  text-align: right;
  font-family: "vazir";
}
.icon {
  padding: 20px;
  width: 10px;
  height: 10px;
  font-size: 2rem;
  float: right;
}
.title {
  margin-top: auto;
  margin-bottom: auto;
}
.fa-info,
.fa-bolt,
.code {
  transform: translate(50%, -65%);
}
.fa-fire,
.fa-shopping-bag,
.fa-gift {
  font-size: 25px;
}
.fa-arrow-left {
  color: gray !important;
  text-decoration: none;
  float: left;
  width: 20px;
}
main .container {
  width: 95%;
  margin-top: 30px;
  padding-right: 45px;
  font-family: vazir;
}
main .row > * {
  height: 30px;
  border-radius: 5px;
  margin: 5px;
  margin-bottom: 3px;
  text-align: center;
  background-color: var(--bs-success);
  position: relative;
}
main .row > *:hover {
  background-color: rgba(var(--bs-success-rgb), 0.8);
}
main .row > * > a {
  position: absolute;
  right: 0;
  width: 100%;
  color: var(--bs-light);
  font-size: 0.8rem;
  text-decoration: none;
  font-family: vazir;
}